/* 전체 레이아웃 */
body {
  background-color: #2c1b10;
  /* font-family: "Pretendard",sans-serif; */
  color: #fff3da;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 40px;
}

/* 사이트명 */
h1 {
  text-align: center;
  margin: 50px 0 20px;
  color: #ffebc0;
  font-size: 40px;
  font-weight: 800;;
  letter-spacing: 2px;
}

/* 검색 영역 */
.search-bar {
  display: flex;
  justify-content:flex-end;
  align-items: center;
  margin-bottom: 30px;
  gap: 10px;
}

/* 검색 영역 - 입력 부분 */
.search-bar input {
  width: 300px;
  padding: 12px;
  background: #ffebc0;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
}

/* 검색 영역 - 버튼 부분 */
.search-bar button {
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #d5a253;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  transition: 0.2s;
}

/* 검색 영역 - 버튼 호버 효과 */
.search-bar button:hover {
  background-color: #b58b45;
}

/* 영화 목록 전체 */
.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: 30px;
  margin-top: 30px;
}

.movie-list li {
  background: #3c291a;
  padding: 12px;
  border-radius: 8px;
  text-align: center;
  transition: transform .25s ease;
}

.movie-list li:hover {
  transform: translateY(-5px);
}

.movie-list img {
  width: 100%;
  height: 260px;
  border-radius: 8px;
  object-fit: cover;
}

/* 영화 제목 */
.movie-title {
  margin-top: 8px;
  font-size: 15px;
  font-weight: 600;
  color: #ffdfb1;
}

/* 영화 링크(밑줄 생김 방지) */
.movie-link {
  text-decoration: none;
}

/* 리스트 앞에 • 제거*/
ul {
  list-style: none; 
}

